﻿<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
	<base href="" />
	<title>@ViewData["Title"]</title>
	<meta charset="utf-8" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_app_body" data-kt-app-page-loading-enabled="true" data-kt-app-page-loading="on" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" class="app-default">
	<!--begin::Theme mode setup on page load-->
	<!--end::Theme mode setup on page load-->
	<!--begin::loader-->
	<div class="app-page-loader">
		<span class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
			@RenderBody()
		</span>
	</div>
	<!--end::Loader-->
	@await RenderSectionAsync("Scripts", required: false)
</body>
<!--end::Body-->
</html>